@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h2 {
  @apply font-bold text-4xl my-8;
}

h1 {
  font-family: "SfUi", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.cards {
  @apply h-[360px] w-[275px] rounded-lg flex relative overflow-hidden;
}

.overlay {
  @apply absolute inset-0 bg-black opacity-30 z-10;
}

.info {
  @apply flex flex-col p-5 z-20 absolute inset-0 h-full w-full items-center mt-[220px] text-white;
}
